.card {
    margin: 0 auto; 
    float: none; 
    
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}
td,th{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
p{
    padding-top: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
}
.borderless td, .borderless th {
    border: none;
}