.col-form-label,.btn-secondary{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.invalid-feedback{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.btn-success{
    margin: auto;
    display: block;
    font-family: 'Times New Roman', Times, serif;
}