table{
   
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 10px;
    font-size: large;
   
   

}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}