<app-home></app-home>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container-fluid">
    
        <h2 align="center">List of All Users</h2>

    <table class="table table-striped" *ngIf="employees && employees.length > 0  else elseBlock">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
        <th>UserType</th>
        <th>Password</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Test Id</th>
        <th>Assign</th>
        <th>Delete</th>
        <th>Update</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of employees">
                <td #id> {{e.userid}} </td>
                <td> {{e.username}} </td>
                <td> {{e.userType}} </td>
                <td>{{e.userPassword}}</td>
                <td> {{e.userPhoneno}} </td>
                <td>{{e.userEmail}}</td>
                <td *ngIf="e.usertest!=null; else elsetest">{{e.usertest.testId}}</td>
                <td>
                   <button type="button" class="btn btn-large btn-block btn-secondary" (click)=assign(e)>Assign</button>
                </td>
                <td>
                    <button type="button" class="btn btn-large btn-block btn-danger" (click)=delete(e)>Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </td>
                <td>
                    <button type="button" class="btn btn-large btn-block btn-secondary" (click)=update(e)>Edit <i class="fa fa-pencil" aria-hidden="true"></i></button>
                </td>
                <td>
            </tr>
        </tbody>
    </table>
    <ng-template #elseBlock>
        <h4 align="center"> There are no Users to display! </h4>
    </ng-template>
    <ng-template #elsetest>
        <p align="center">No Test</p>
    </ng-template>
    <div>
        <h4>{{message}}</h4>
    </div>
</div>
