<body>
<div class="container-fluid">
<div class="col-md-10 col-md-6 mb-4 card border-0 shadow">
<div class="card-body">
<form name="form" (ngSubmit)="onSubmit(f.value)" #f="ngForm" >
<div class="container-fluid">
    <div class="col-md-10 col-md-6 mb-4 card border shadow">
        <div class="card-body">
            <h3 align="center">Instructions</h3>
            <ul>
                <li>Test contains 2 questions</li>
                <li>Each question carries 2 marks</li>
                <li>Each question needs to be answered inorder to submit the test</li>
            </ul>
        </div>
    </div>
    
    <h4 class="text-right">Test ID : <b>{{testid}}</b></h4>
    <h2 align="center">Questions</h2>
    <div *ngFor="let q of questions;let i=index">
        <div class="badge badge-info">Question</div>
        <h2 class="card-title">{{q.questionTitle}}</h2>
        <div class="row options card-text">
            <div class="option" >
                <input type="radio" name="{{i}}" value="{{q.optionOne}}" (change)="radioChangeHandler($event,i,q.questionId)">{{q.optionOne}}
                <br>
                <input type="radio" name="{{i}}" value="{{q.optionTwo}}" (change)="radioChangeHandler($event,i,q.questionId)">{{q.optionTwo}}
                <br>
                <input type="radio" name="{{i}}" value="{{q.optionThree}}" (change)="radioChangeHandler($event,i,q.questionId)">{{q.optionThree}}
                <br>
                <input type="radio" name="{{i}}" value="{{q.optionFour}}" (change)="radioChangeHandler($event,i,q.questionId)">{{q.optionFour}}
            </div>
        </div><br>
    </div>

   
    <button [disabled]="!Valid" class="btn btn-success">Submit</button>
</div>
</form>
</div>
</div>
</div>
</body>

