
<form name="form" #details="ngForm" (ngSubmit)="onSubmit(details.value) " validate >
    <div class="form-group">  
    <label class="col-form-label" required="true">Question ID</label>
    <input type="number" class="form-control" name="questionId" ngModel [ngClass]="{'is-invalid':Id.invalid && Id.touched,'is-valid':Id.valid}"
     #Id="ngModel" required/>
         <div *ngIf="Id.errors" class="invalid-feedback">
           Enter question Id
         </div>  
    </div>
  
  <div class="form-group">
    <label class="col-form-label">Question</label>
    <input type="text" class="form-control" name="questionTitle" [ngClass]="{'is-invalid':title.invalid && title.touched,'is-valid':title.valid}"
     #title="ngModel" required ngModel/>
      <div *ngIf="title.errors" class="invalid-feedback">
        Enter question 
      </div> 
  </div>

  <div class="form-group">
      <label class="col-form-label">Option 1</label>
      <input type="text" class="form-control" name="optionOne" #opt1="ngModel"
       [ngClass]="{'is-invalid':opt1.invalid && opt1.touched,'is-valid':opt1.valid}"required ngModel/>
       <div *ngIf="opt1.errors" class="invalid-feedback">
        Enter Option 
      </div> 
  </div>

  <div class="form-group">
    <label class="col-form-label">Option 2</label>
    <input type="text" class="form-control" name="optionTwo" #opt2="ngModel"
     [ngClass]="{'is-invalid':opt2.invalid && opt2.touched,'is-valid':opt2.valid}"required ngModel/>
     <div *ngIf="opt2.errors" class="invalid-feedback">
      Enter Option 
    </div> 
  </div>

  <div class="form-group">
    <label class="col-form-label">Option 3</label>
    <input type="text" class="form-control" name="optionThree" #opt3="ngModel"
     [ngClass]="{'is-invalid':opt3.invalid && opt3.touched,'is-valid':opt3.valid}"required ngModel/>
     <div *ngIf="opt3.errors" class="invalid-feedback">
      Enter Option 
    </div> 
  </div>

  <div class="form-group">
    <label class="col-form-label">Option 4</label>
    <input type="text" class="form-control" name="optionFour" #opt4="ngModel"
     [ngClass]="{'is-invalid':opt4.invalid && opt4.touched,'is-valid':opt4.valid}"required ngModel/>
     <div *ngIf="opt4.errors" class="invalid-feedback">
      Enter Option 
    </div> 
  </div>

  <div class="form-group">
    <label class="col-form-label">Answer</label>
    <input type="text" class="form-control" name="rightAnswer" #ans="ngModel"
     [ngClass]="{'is-invalid':ans.invalid && ans.touched,'is-valid':ans.valid}"required ngModel/>
     <div *ngIf="ans.errors" class="invalid-feedback">
      Enter Answer for this question 
    </div> 
  </div>

  <div class="form-group">
    <label class="col-form-label">Marks</label>
    <input type="number" class="form-control" name="questionMarks" #marks="ngModel"
     [ngClass]="{'is-invalid':marks.invalid && marks.touched,'is-valid':marks.valid}"required ngModel/>
     <div *ngIf="marks.errors" class="invalid-feedback">
      Enter Marks 
    </div> 
  </div>
  
   <button class="btn btn-success" type="submit" [disabled]="!details.form.valid">Add Question</button>
  
  
  </form>
  