h2,th,td,p,h4{
    font-family: serif;
}
h2{
    font-weight: bolder;
}
th{
    font-weight: bolder;
    font-size: large;
}
td{
    font-size: medium;
}
table,p{
    text-align: center;
    padding: 10px;
}
button{
    font-family: Georgia, 'Times New Roman', Times, serif;
}