
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<div class="container">
    <form #assign="ngForm" (ngSubmit)="onSubmit(assign.value)" >

        <div class="form-group">
            <label>User ID </label>
            <input required minlength="1" type="number" [(ngModel)]="obj1.userid" readonly="readonly" #Uid='ngModel'
                name="userid" ngModel class="form-control">
        </div>

        <div class="form-group">
            <label>Test ID </label>
            <input required type="number" [(ngModel)]="testId" #un='ngModel' name="testId" ngModel
            [ngClass]="{'is-invalid':un.invalid && un.touched,'is-valid':un.valid}" class="form-control">
            <div *ngIf="un.errors" class="invalid-feedback">
                <div [hidden]='!un.errors.required'>
                    Provide test id
                </div>
            </div>
        </div>

        <input [disabled]="assign.invalid" type="submit" value="Assign" class="btn btn-success">

    </form>
 
   