label,p,.btn{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.invalid-feedback{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.btn-success{
    display: block;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}