form{
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px;
    margin: auto;
    display: block;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
