<html>
<div>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/listUser">List Of Users</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/listQuestions">List Of Questions</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/listTest">List Of Tests</a>
        </li>
       
      </ul>
    </div>
  </nav>
</div>
        <!--
        <div class="container-fluid">
        <router-outlet></router-outlet>
        </div>-->
</html>